# Build output
dist/
.astro/

# Vercel
.vercel/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.production
.env.local
.env.*.local

# Mapbox token (sensible)
public/mapbox-gis/token.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/settings.json
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak
test.js
